@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'KoHo', sans-serif;
    
}
.navbar{
    
    background-color: rgb(0, 68, 255);  
    line-height: 2.5;
}
#logo{
    display: inline-block;
    width: 40%;
    text-align: center;
    color: white;
}
#menu{
    display: inline-block;
    width: 55%;
    text-align: right;
}
#menu a{
    text-decoration: none;
}
#menu li{
    display: inline;
    padding: 10px;
}
#menu ul{
    list-style-type: none;
}
#menu a{
 color: white;
}



@media screen and (max-width:768px) {
    .navbar{
        position: relative;
    }
.navbar #logo{
    display: block;
    width: 100%;
    float: right;
    text-align: center;
    background-color: yellow;
    
}

#menu{
    display: block;
    width: 100%;
    border: 1px solid yellow;
    background-color: yellowgreen;
    position: absolute;
    left: -100%;
    top:40px;
    opacity: 0;
    line-height: 1.2;
}
#menu ul{
    text-align: center;
    border: 1px solid tomato;
}
#menu li{
    display: block;
}
#menu li:hover{
    background-color: green;
}
.navbar .menu-toggle{
    position: absolute;
    right:5px;
    top: 5px;
    padding: 0px;
}
.menu-toggle .bar{

    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
}
#menu.active
{
        left:0;
        opacity: 1;
        transition: all 0.5s ease;
}
}