@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'KoHo', sans-serif;
}

/*******************Navbar CSs**********************************/
.navbar{   
    background-color: black;
    padding: 2px;
    line-height: 2.5;
}
.navbar #logo{
    display: inline-block;
    width: 40%;
    text-align: center;
    color: white;
}
.navbar #menu{
    display: inline-block;
    width: 55%;
    text-align: right;
}
.navbar #menu a{
    text-decoration: none;
}
.navbar #menu li{
    display: inline;
    padding: 10px;
}
.navbar #menu li:hover{
    border: 1px solid red;
    border-radius: 5px;
}
.navbar #menu ul{
    list-style-type: none;
}
.navbar #menu a{
 color: white;
}
/*******************slider CSS**********************************/
#slider{
    overflow: hidden;   
    aspect-ratio: 144/35;
}
#slider  figure{
    position: relative;
    width: 300%;
    left: 0;
    z-index: -1;
    animation:  slider 20s  infinite;
}
#slider figure img{
    float: left;
    width: 33.3%;
    z-index: -1;
}

@keyframes slider {
    30%{
      left: -100%;
    }
   60%
   {
       left:-200%;
   }
}
/*******************Media Queries**********************************/

@media screen and (max-width:768px) {
.navbar{
        position: absolute;
        width: 100%;
    }
.navbar #logo{
    display: block;
    width: 100%;
    float: right;
    text-align: center; 
}
.navbar #menu{
    display: block;
    width: 100%;   
    position: absolute;
    left: -100%;
    top:40px;
    line-height: 1.2;
}
.navbar #menu ul{
    text-align: center;
}
.navbar #menu li{
    display: block;
}
.navbar .menu-toggle{
    position: absolute;
    right:5px;
    top: 5px;
    padding: 0px;
}
.navbar .menu-toggle .bar{
    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
}
.navbar #menu.active
{
        left:0;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        background-color: black;
}
}
